.header {
    height: 40vh;
    overflow: hidden;
}
.banner {
    height: 30vh;
    width: 100%;
}
.banner > img {
    /* aspect-ratio: 16/9; */
    
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.active {
    background-color: #f1f1f170;
}
#iderror, #passerror, #dateerror {
    color: red;
}
.nav-link:active {
    background-color: gray;
}